* {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
}

.login {
    opacity: 1 !important;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: white;
    top: 0;
    filter: blur(0px) !important;
    img {
        max-width: 100%;
    }
    min-width: 260px;
    border:1px solid lightgray;
}

.desenfocado {
    opacity: 0.2;
}

.form-login {
    input {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid lightgray;
    }
}