<!--LOGIN-->
<div class="login mt-5 mx-auto">
    <img :src="imglogin" alt="">

    <form action="" class="my-5 px-3 form-login text-center d-flex flex-column">
        <input type="email" placeholder="Email" name="email">

        <input type="password" placeholder="Contraseña" class="mt-4" name="password">

        <button type="submit" class="bg-primary border-0 text-white my-5 py-2 px-4">INICIAR SESIÓN</button>

        <a href=""><small class="mt-5 text-muted">¿Contraseña olvidada?</small></a>

        <router-link to="/auth-register"><small class="mt-2 text-muted">¿No tienes ninguna cuenta? Regístrate</small></router-link>
    </form>
</div>