.recuadro-gris {
    background-color: gray;
}

.filtro-icon {
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: 20px 0;
    cursor: pointer;
    max-width: 180px;
}

.filtro {
    font-size: 14px;
}

.texto-restablecer {
    cursor: pointer;
}

.img-producto {
    width: 120px;
}

@media only screen and (max-width: 480px) {
    .img-producto {
        width: 90px;
    }
}