<div>
    <h3 class="mt-5">
        PRODUCTOS

        <hr>
    </h3>

    <p class="text-right mb-5">{{aplicarFiltros().length}} RESULTADOS</p>



    <!-- Sección con caja de filtrado -->
    <section class="row m-0 justify-content-between">

        <section class="col-md-3 mb-5">

            <div class="row recuadro-gris align-items-center p-2 justify-content-between m-0">
                <p class="text-white m-0">FILTRAR</p>

                <div>
                    <span class="filtro-icon d-md-inline-block d-none" @click="aplicarFiltros()"><i class="fas fa-filter text-white"></i></span>
                    <span class="filtro-icon ml-3" data-toggle="collapse" data-target="#filtercollapse" aria-expanded="true" aria-controls="filtercollapse">
                        <i class="fas fa-sort-down text-white"></i>
                    </span>
                </div>


            </div>

            <ul class="collapse show" id="filtercollapse">
                <li class="row justify-content-between" data-toggle="collapse" data-target="#marcacollapse" aria-expanded="false" aria-controls="marcascollapse">
                    MARCAS

                    <i class="fas fa-chevron-down ml-5"></i>


                    <ul class="collapse" id="marcacollapse">
                        <li v-for="item in marcas" class="ml-4">
                            <input type="checkbox" name="" id="" :value="item.valor" v-model="filtros_activos.marca" @change="aplicarFiltros()">
                            <span class="ml-3 filtro">{{item.valor}}</span>
                        </li>
                    </ul>
                </li>

                <li class="row justify-content-between" data-toggle="collapse" data-target="#formatocollapse" aria-expanded="false" aria-controls="formatocollapse">
                    FORMATO

                    <i class="fas fa-chevron-down ml-5"></i>

                    <ul class="collapse" id="formatocollapse">
                        <li v-for="item in formato" class="ml-4">
                            <input type="checkbox" name="" id="" :value="item.valor" v-model="filtros_activos.formato" @change="aplicarFiltros()">
                            <span class="ml-3 filtro">{{item.valor}}</span>
                        </li>
                    </ul>
                </li>

                <li class="row justify-content-between" data-toggle="collapse" data-target="#preciocollapse" aria-expanded="false" aria-controls="preciocollapse">
                    PRECIO

                    <i class="fas fa-chevron-down ml-5"></i>

                    <ul class="collapse" id="preciocollapse">
                        <li class="ml-4">
                            <input type="radio" id="precioAscendente" name="precio" value="ascendente" @change="filtrarPrecioAscendente()">
                            <span class="ml-3 filtro">Precio Ascendente</span>
                        </li>
                        <li class="ml-4">
                            <input type="radio" id="precioDscendente" name="precio" value="descendente" @change="filtrarPrecioDescendente()">
                            <span class="ml-3 filtro">Precio Descendente</span>
                        </li>
                    </ul>
                </li>

                <li class="row justify-content-between" data-toggle="collapse" data-target="#edadcollapse" aria-expanded="false" aria-controls="edadcollapse">
                    EDAD

                    <i class="fas fa-chevron-down ml-5"></i>

                    <ul class="collapse" id="edadcollapse">
                        <li v-for="item in edad" class="ml-4">
                            <input type="checkbox" name="" id="" :value="item.valor" v-model="filtros_activos.edad" @change="aplicarFiltros()">
                            <span class="ml-3 filtro">{{item.valor}}</span>
                        </li>
                    </ul>
                </li>

                <li class="recuadro-gris p-2 text-center">
                    <p class="text-white m-0 texto-restablecer" @click="restablecerFiltros()">RESTABLECER</p>
                </li>
            </ul>



        </section>




        <section class="col-md-9 row">

            <!-- Listado de productos -->
            <div class="text-center mb-5 col-6" v-for="prod in aplicarFiltros()" :key="prod.id">
                <img :src="/storage/ + prod.imagen" class="img-producto" alt="...">
                <div class="mt-4">
                    <p>{{prod.nombre}}</p>
                    <p>{{prod.precio}} €</p>
                    <router-link :to="{ path: '/productos/' + prod.id }" class="btn btn-secondary">Ver Producto</router-link>
                </div>
            </div>

            <!-- Boton para ver más productos -->
            <div class="mb-5 col-12 d-flex justify-content-center ver-mas" v-if="aplicarFiltros().length">
                <button class="btn btn-primary px-5" @click="productsToShow += 5">Ver más</button>
            </div>


        </section>

    </section>
</div>