.login img {
    max-width: 100%;
}

.login {
    max-width: 400px;
    border: 1px solid lightgrey;
}

.desenfocado {
    opacity: 0.2;
}

.form-login input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid lightgray;
}