<div>

    <!--IMAGEN CENTRAL BIENVENIDA A PAGINA-->
    <div class="my-5 imagen-portada portada-gato">
    </div>


    <!--SECTION GATOS-->
    <section>
        <section class="row mt-5 align-content-center">
            <div class="d-none d-sm-block col-sm-4">
                <hr class="bg-primary">
            </div>
            <div class="col-sm-4 text-primary text-center">
                <p>GATOS</p>
            </div>
            <div class="d-none d-sm-block col-sm-4">
                <hr class="bg-primary">
            </div>
        </section>


        <section class="slider-categorias d-md-flex flex-md-row justify-content-md-center">

            <div class="text-center swipe-item  d-flex flex-column align-items-center">
                <router-link to="/categoria/gato/pienso-seco">
                    <div class="circulo bg-brown">
                        <img :src="comida" alt="" width="120">
                    </div>

                    <p class="mt-2 text-primary">PIENSO SECO</p>
                </router-link>

            </div>

            <div class="text-center swipe-item d-flex flex-column align-items-center">
                <router-link to="/categoria/gato/comida-humeda">
                    <div class="circulo bg-azulclaro">
                        <img :src="comida_humeda" alt="" width="80">
                    </div>

                    <p class="mt-2 text-primary">COMIDA HÚMEDA</p>
                </router-link>
            </div>

            <div class="text-center swipe-item d-flex flex-column align-items-center">
                <router-link to="/categoria/gato/arenas-y-lechos">
                    <div class="circulo bg-azul">
                        <img :src="arenas_y_lechos" alt="" width="120">
                    </div>

                    <p class="mt-2 text-primary">ARENAS Y LECHOS</p>
                </router-link>

            </div>

            <div class="text-center swipe-item d-flex flex-column align-items-center">
                <router-link to="/categoria/gato/complementos">
                    <div class="circulo bg-amarilloclaro">
                        <img :src="rascadores" alt="" width="120">
                    </div>

                    <p class="mt-2 text-primary">COMPLEMENTOS</p>
                </router-link>

            </div>


        </section>

        <!--TITULO DESTACADOS CON LINEAS TRANSVERSALES-->
        <section class="row my-5 align-content-center">
            <div class="d-none d-sm-block col-sm-4">
                <hr class="bg-primary">
            </div>
            <div class="col-sm-4 text-primary text-center">
                <p>RECOMENDADOS</p>
            </div>
            <div class="d-none d-sm-block col-sm-4">
                <hr class="bg-primary">
            </div>
        </section>




        <section class="row masvendidos justify-content-around mt-5 align-items-end">
            <div class="text-center mb-5 col-sm-6 col-12 col-md-4">
                <img :src="masvendido1" class="" alt="..." width="90">
                <div class="mt-4">
                    <h5>Monge adulto arroz y pollo</h5>
                    <router-link to="/productos/36" class="btn btn-secondary">Ver Producto</router-link>
                </div>
            </div>

            <div class="text-center mb-5 col-sm-6 col-12 col-md-4">
                <img :src="masvendido2" class="" alt="..." width="80">
                <div class="mt-4">
                    <h5>Purity indoor</h5>
                    <router-link to="/productos/44" class="btn btn-secondary">Ver Producto</router-link>
                </div>
            </div>

            <div class="text-center mb-5 col-sm-6 col-12 col-md-4">
                <img :src="masvendido3" class="" alt="..." width="120">
                <div class="mt-4">
                    <h5>Monge atún y aloe</h5>
                    <router-link to="/productos/33" class="btn btn-secondary">Ver Producto</router-link>
                </div>
            </div>
        </section>

    </section>

</div>