<div>
    <section class="row mt-5 align-content-center">
        <div class="d-none d-sm-block col-sm-4">
            <hr class="bg-primary">
        </div>
        <div class="col-sm-4 text-primary text-center">
            <p>SOBRE NOSOTROS</p>
        </div>
        <div class="d-none d-sm-block col-sm-4">
            <hr class="bg-primary">
        </div>
    </section>

    <section class="row justify-content-between my-5">
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center">
            <img :src="img1" alt="" class="circulo">

            <div class="mt-3 text-center">
                <p class="destacado">TU MASCOTA es lo más importante para nosotros.</p>

                <p>
                    Sabemos lo importante que son para ti tus mascotas. Por eso en PetFriend día a día nos preocupamos por acercarte los mejores productos y servicios. Hacemos envíos a domicilio SIN CARGO.
                </p>
            </div>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center">
            <img :src="img2" alt="" class="circulo">
            <div class="mt-3 text-center">
                <p class="destacado">Te ofrecemos la mejor alimentación acorde a las necesidades de tu mascota.</p>

                <p>
                    Tenemos piensos para perros y gatos...trabajamos con las mejores marcas, las de siempre y además con piensos naturales y grain free. Tenemos alimentación para roedores, aves, peces, tortugas, etc.
                </p>
            </div>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center">
            <img :src="img3" alt="" class="circulo">
            <div class="mt-3 text-center">
                <p class="destacado">La mejor tienda de mascotas</p>

                <p>
                    Ofrecemos servicios de peluquería y autolavado. Disponemos de todos los artículos de tienda: comidas, accesorios, higiene y peluquería, snacks, antiparasitarios, ropa, collares, etc. Y lo que no tenemos....TE LO CONSEGUIMOS!!!
                </p>
            </div>
        </div>
    </section>
</div>