.contactCallout-Icon {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: -45px;
    margin-bottom: 20px;
    background: #f6f9fc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contactCallout-Icon {
    width: 100px;
    height: 100px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}