.inicia-sesion {
    border: 2px solid black;
    background-color: white;
}

.texto-oscuro {
    font-weight: bold;
}

.hr-contenido {
    height: 2px;
    background-color: black;
}

.subrayado {
    text-decoration: underline;
}

.btn-pagar {
    background-color: black;
    width: 100%;
    padding: 10px 0;
    color: white;
}

.btn-disabled {
    background-color: gray;
    width: 100%;
    padding: 10px 0;
    color: white;
}

.btn-pagar:hover {
    opacity: 0.8;
}

i {
    color: slateblue;
}