.img-product {
    max-width: 100%;
}

@media only screen and (max-width:576px) {
    .img-product {
        max-width: 130px;
    }
}

main form {
    width: 120px;
}

main .descr-producto .descripcion {
    background-color: #dcd8d8;
}

main .descr-producto .descripcion .titulo-componente {
    font-weight: 700;
}

main .descr-producto hr {
    margin: 0.1px;
    width: 400px;
}

.ocultar {
    display: none;
}