p{
    color: white;
}
small{
    color: #9D91B8;
}
#card{
    background: rgb(118,107,162);
    background: linear-gradient(90deg, rgba(118,107,162,1) 0%, rgba(87,24,233,1) 100%, rgba(157,145,184,1) 100%, rgba(89,46,199,1) 100%);
}

.title{
    font-size: 25px;
}

.paragraph{
    line-height: 0.8cm;
}

.percent{
    font-size: 36px;
}

.box{
    padding: 20px;
}

#box1{
    border-right: 1px solid #9D91B8;
    border-bottom: 1px solid #9D91B8;
}
#box2{
    border-bottom: 1px solid #9D91B8;
}
#box3{
    border-right: 1px solid #9D91B8;
}


.card-body{
    padding: 80px 70px;
}

.card-button{
    background-color: #8D84B6;
}

.card-button:hover{
    background-color: #9687cf;
}