<div class="mt-5">

    <div id="card" class="rounded">
        <div class="card-body row">
            <div class="col-12 col-md-6">
                <p class="title">
                    Marketing
                </p>
    
                <p class="paragraph">
                    Elevate your marketing campaigns, with connective creative unlike any other 
                    - that continiously driving reach and revenue up.
                </p>

                <button class="card-button btn rounded mt-3">
                    <p class="m-0 py-2 px-2">
                        READ OUR CASES
                    </p>                  
                </button>
            </div>

            <div class="col-12 col-md-6">

                <div class="row">
                    <div class="col-6 box" id="box1">
                        <p class="percent">
                            +45%
                            <i class="fas fa-level-up-alt text-success"></i>
                        </p>
                        <small>
                            CLIENT REVENUE
                        </small>
                    </div>
                    <div class="col-6 box" id="box2">
                        <p class="percent">
                            +45%
                            <i class="fas fa-level-up-alt text-success"></i>
                        </p>
                        <small>
                            AD SPEND
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 box" id="box3">
                        <p class="percent">
                            +12%
                            <i class="fas fa-level-down-alt text-danger"></i>
                        </p>
                        <small>
                            MAUS
                        </small>
                    </div>
                    <div class="col-6 box" id="box4">
                        <p class="percent">
                            +18%
                            <i class="fas fa-level-down-alt text-danger"></i>
                        </p>
                        <small>
                            OVERAL ROI
                        </small>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>

</div>