<div>

    <div v-if="logged" class="row">
        <nav class="sidebar-navigation row col-1">
            <ul>
                <li class="mb-5 dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                        <span class="tooltip">Perfil</span>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="btn dropdown-item p-3" @click="logout()">Cerrar Sesión</button>
                    </div>

                </li>

                <li class="mb-5">
                    <router-link to="/admin/productos">
                        <i class="fas fa-bone"></i>
                        <span class="tooltip">Productos</span>
                    </router-link>
                </li>
                <li class="mb-5">
                    <i class="fas fa-calendar-week"></i>
                    <span class="tooltip">Peluquería</span>
                </li>
                <li class="mb-5">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="tooltip">Pedidos</span>
                </li>
                <li class="mb-5">
                    <i class="fas fa-chart-pie"></i>
                    <span class="tooltip">Estadísticas</span>
                </li>
                <li class="mb-5">
                    <i class="fa fa-sliders"></i>
                    <span class="tooltip">Settings</span>
                </li>
            </ul>


        </nav>

        <div class="col-10 mx-auto">
            <router-view></router-view>
        </div>
    </div>

    <div v-if=" ! logged">
        <admin-login-component></admin-login-component>
    </div>

</div>