<nav class="sidebar-navigation">
    <ul>
        <li class="mb-5">
            <i class="fas fa-user"></i>
            <span class="tooltip">Perfil</span>
        </li>
        <li class="active">
            <router-link to="/admin/productos">
                <i class="fas fa-bone"></i>
                <span class="tooltip">Productos</span>
            </router-link>
        </li>
        <li>
            <i class="fas fa-calendar-week"></i>
            <span class="tooltip">Peluquería</span>
        </li>
        <li>
            <i class="fa fa-newspaper-o"></i>
            <span class="tooltip">Contacts</span>
        </li>
        <li>
            <i class="fas fa-chart-pie"></i>
            <span class="tooltip">Estadísticas</span>
        </li>
        <li>
            <i class="fa fa-sliders"></i>
            <span class="tooltip">Settings</span>
        </li>
    </ul>
</nav>