<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <!--LOGIN-->
            <div class="login my-5 mx-auto">
                <img :src="imglogin" alt="">
                <form autocomplete="off" @submit.prevent="resetPassword" method="post" class="my-5 px-3 form-login text-center d-flex flex-column">
                    <div class="form-group">
                        <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" class="form-control my-3" placeholder="Contraseña" v-model="password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password_confirmation" class="form-control mb-3" placeholder="Confirmar contraseña" v-model="password_confirmation" required>
                    </div>

                    <div v-if="errors" class="text-danger row ml-5 mt-4">
                        <ul>
                            <li v-for="err in errors" class="row">
                                <i class="fas fa-exclamation-triangle mr-3"></i>
                                <p class="col-10">{{err}}</p>
                            </li>
                        </ul>
                    </div>

                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>