<div>
    <router-link to="/admin/productos/formulario">
        <button class="btn btn-success m-3">Añadir producto</button>
    </router-link>

    <table class="table table-sm table-responsive">

        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Precio oferta</th>
                <th scope="col">Animal</th>
                <th scope="col">Marca</th>
                <th scope="col">Categoría</th>
                <th scope="col">Formato</th>
                <th scope="col">Edad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in productos">
                <th scope="row">{{item.id}}</th>
                <td>{{item.nombre}}</td>
                <td>{{item.precio}}€</td>
                <td>{{item.precio_oferta}}</td>
                <td>{{item.tipo_animal}}</td>
                <td>{{item.marca}}</td>
                <td>{{item.categoria}}</td>
                <td>{{item.peso_unidad}}{{item.ud_peso}}</td>
                <td>{{item.edad}}</td>
                <td class="row m-0 ml-3">
                    <router-link :to="{ path: '/admin/productos/formulario/actualizar/' + item.id }"><i class="fas fa-edit text-warning"></i></router-link>
                    <i class="fas fa-trash-alt text-danger col" @click="deleteProduct(item)"></i>
                </td>

            </tr>

        </tbody>
    </table>
</div>